<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lka2</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="Model/Prodi.hbm.xml"/>
    <mapping resource="Model/Jeniskerja.hbm.xml"/>
    <mapping resource="Model/Mahasiswa.hbm.xml"/>
    <mapping resource="Model/Level.hbm.xml"/>
    <mapping resource="Model/Jeniskontak.hbm.xml"/>
    <mapping resource="Model/Pengirimanpesan.hbm.xml"/>
    <mapping resource="Model/Pegawai.hbm.xml"/>
    <mapping resource="Model/Peminatan.hbm.xml"/>
    <mapping resource="Model/Kerja.hbm.xml"/>
    <mapping resource="Model/Kontak.hbm.xml"/>
    <mapping resource="Model/User.hbm.xml"/>
    <mapping resource="Model/Posisikerja.hbm.xml"/>
    <mapping resource="Model/Wisuda.hbm.xml"/>
    <mapping resource="Model/Wirausaha.hbm.xml"/>
    <mapping resource="Model/Pesan.hbm.xml"/>
    <mapping resource="Model/Studi.hbm.xml"/>
    <mapping resource="Model/Kerjaview.hbm.xml"/>
    <mapping resource="Model/Statusmahasiswa.hbm.xml"/>
    <mapping resource="Model/Wirausahaview.hbm.xml"/>
    <mapping resource="Model/Studiview.hbm.xml"/>
    <mapping resource="Model/Rekapposisialumni.hbm.xml"/>
    <mapping resource="Model/Alumniview.hbm.xml"/>
    <mapping resource="Model/Rekapposisiprodiall.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiproditahun.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiprodiperiode.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiprodiangkatan.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisipeminatanangkatan.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisipeminatanperiode.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisipeminatantahun.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisipeminatanall.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipklessprodiperiode.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipklessprodiall.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipklessprodiangkatan.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipklessproditahun.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipklesspeminatanangkatan.hbm.xml"/>
    <mapping resource="Model/Rekapposisiipklesspeminatanperiode.hbm.xml"/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipklesspeminatanall.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipklesspeminatantahun.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipkgreaterpeminatanall.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipkgreaterprodiall.hbm.xml"/>
    <mapping resource="Model/Rekapposisiipkgreaterpeminatanangkatan.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipkgreaterpeminatantahun.hbm.xml"/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipkgreaterprodiperiode.hbm.xml"/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipkgreaterproditahun.hbm.xml"/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipkgreaterprodiangkatan.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapposisiipkgreaterpeminatanperiode.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapemploymentrateprodiall.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapemploymentratepeminatantahun.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapemploymentrateprodiperiode.hbm.xml"/>
    <mapping resource="Model/Rekapemploymentrateproditahun.hbm.xml"/>
    <mapping/>
    <mapping resource="Model/Rekapemploymentratepeminatanperiode.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapemploymentratepeminatanangkatan.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapemploymentrateprodiangkatan.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Rekapemploymentratepeminatanall.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Kontakview.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="Model/Teleponview.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
